{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <table class="table _datatable table-striped table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Lof</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td>{{ advert.Title }}</td>
                <td>{{ advert.shortDescription }}</td>
                <td>{{ advert.lof ? 'Oui' : 'Non' }}</td>
                <td>{{ advert.isPro ? 'Pro' : 'Asso' }}</td>
                <td>
                    <span class="btn btn-sm {% if advert.fkStatus.id == 3 %}btn-success{% else %}btn-danger{% endif %} no-cursor">{% if advert.fkStatus.id == 3 %}En ligne{% else %}En attente{% endif %}</span>
                </td>
                <td class="action_cell">
                    <a href="{{ path('app_adverts_admin_show', {'id': advert.id}) }}"><i class="fa-solid fa-eye fa-lg"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
