{% extends 'admin/base_admin.html.twig' %}

{% block title %}Types de page{% endblock %}

{% block body %}

    <table class="table _datatable table-striped table-bordered">
        <thead>
            <tr>
                <th>Type de page</th>
                <th>Code</th>
                <th>Suivi de version</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pages_type in pages_types %}
            <tr>
                <td>{{ pages_type.name }}</td>
                <td>{{ pages_type.type }}</td>
                <td>{{ pages_type.hasVersion ? 'Oui' : 'Non' }}</td>
                <td class="action_cell">
                    <a class="form_list" href="{{ path('app_pages_type_admin_edit', {'id': pages_type.id}) }}"><i class="fa-solid fa-pen-to-square fa-lg ml-3"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td style="display:none"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pages_type_admin_new') }}" class="btn btn-info btn-lg">Nouveau type de page</a>
{% endblock %}
