{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th>Article_qte</th>
                <td>{{ tag.articleQte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tags_admin_index') }}">back to list</a>

    <a href="{{ path('app_tags_admin_edit', {'id': tag.id}) }}">edit</a>

    {{ include('tags_admin/_delete_form.html.twig') }}
{% endblock %}
