{% extends 'admin/base_admin.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            {% if article.logo != "" %}
                <img src="/uploads/{{ article.logo }}" class="mr-2" width="250px" height="auto">
            {% endif %}
        </div>
        <div class="col-9">
            <h1>{{ article.title }}</h1>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td>
                    {% if article.fkTeam is not null %}
                        {{ article.fkTeam.firstname }} {{ article.fkTeam.lastname }}
                    {% elseif article.fkUser is not null %}
                        {{ article.fkUser.firstname }} {{ article.fkUser.lastname }}
                    {% else %}
                        Anonyme
                    {% endif %}
                    </td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ article.shortDescription|raw }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content|raw }}</td>
            </tr>
            <tr>
                <th>Date d'édition</th>
                <td>{{ article.dateAdd ? article.dateAdd|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de visites</th>
                <td>{{ article.visits }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ article.fkStatus.name }}</td>
            </tr>
            <tr>
                <th>Meta title</th>
                <td>{{ article.metaName }}</td>
            </tr>
            <tr>
                <th>Meta description</th>
                <td>{{ article.metaDescription }}</td>
            </tr>
            <tr>
                <th>Meta keywords</th>
                <td>{{ article.metaKeywords }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Tags</h4>
    <div class="d-flex">
        {% for tag in tags %}
            {{ tag.title() }}
        {% endfor %}
    </div>

    <h4>Médias</h4>
    <div class="d-flex mb-3">
        {% for media in medias %}
            <img src="/uploads/{{ media.file }}" class="mr-2" width="150px" height="auto">
        {% endfor %}
    </div>

    <a href="{{ path('app_articles_admin_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
<div class="d-flex mt-3">
    <a href="{{ path('app_articles_admin_edit', {'id': article.id}) }}" class="btn btn-info mr-3"><i class="fa-solid fa-pen-to-square fa-lg mr-3"></i>Editer</a>
    <button data-id="{{ article.id }}" data-entity="articles" class="btn btn-success mr-3 _activeButton"><i class="fa-solid fa-check fa-xl mr-3"></i>Valider l'article</button>
    <button data-id="{{ article.id }}" data-entity="articles" class="btn btn-warning mr-3 _rejectedButton"><i class="fa-solid fa-xmark fa-xl mr-3"></i>Refuser l'article</button>
    {{ include('admin/articles_admin/_delete_form.html.twig') }}
</div>
{% endblock %}
