{% extends 'base.html.twig' %}

{% block title %}Nouvelle structure{% endblock %}

{% block body %}
    <h4>Informations de ma structure</h4>
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        <div id="result"></div>
        {{ form_row(form.additional_address) }}
        {{ form_row(form.zip_code) }}
        {{ form_row(form.town) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.short_description) }}
        {{ form_row(form.description) }}
        {{ form_row(form.logo) }}
        {{ form_row(form.facebook) }}
        {{ form_row(form.tweeter) }}
        {{ form_row(form.instagram) }}
        {{ form_row(form.agreeTerms) }}
        {{ form_row(form._token) }}
        <input type="hidden" id="company_longitude" name="company[longitude]" value="">
        <input type="hidden" id="company_latitude" name="company[latitude]" value="">
        <input type="hidden" id="company_type_id" name="company[type_id]" value="{{ typeId }}">
        <input type="hidden" id="company_userToken" name="company[userToken]" value="{{ userToken }}">
        <button class="btn">Créer le compte de ma structure</button>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
