{% extends 'account/base_account.html.twig' %}

{% block title %}Edition {{ company.name }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="error">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-xs-12 col-md-6 d-flex">
            {{ form_row(form.logo) }}
            {% if company.logo != '' %}
                <img src="/uploads/{{ company.logo }}" class="img-responsive ml-3" height="200px" width="auto">
            {% endif %}
        </div>
    </div>
    <h4>Coordonnées</h4>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.address) }}
            {{ form_row(form.zip_code) }}
            {{ form_row(form.email) }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.additional_address) }}
            {{ form_row(form.town) }}
            {{ form_row(form.phone) }}
        </div>
    </div>
    <h4>Coordonnées GPS</h4>
     <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.latitude) }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.longitude) }}
        </div>
    </div>
    {{ form_row(form.short_description) }}
    {{ form_row(form.description) }}
    <h4>Réseaux sociaux</h4>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.facebook) }}
            {{ form_row(form.tweeter) }}
        </div>
        <div class="col-xs-12 col-md-6">
            {{ form_row(form.instagram) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    <div style="display:none">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-success">Valider les modifications</button>
{{ form_end(form, {render_rest: false}) }}

{% endblock %}
