{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header bg-gradient-primary text-white">
            <h5>Statistiques</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <p class="card-text"><b>{{ associations }}</b> association{% if associations > 1 %}s{% endif %} active{% if associations > 1 %}s{% endif %}</p>
                    <p class="card-text"><b>{{ eleveurs }}</b> éleveur{% if eleveurs > 1 %}s{% endif %} actif{% if eleveurs > 1 %}s{% endif %}</p>
                    <p class="card-text"><b>{{ adverts }}</b> annonce{% if adverts > 1 %}s{% endif %} en ligne</p>
                    <p class="card-text"><b>{{ articles }}</b> article{% if articles > 1 %}s{% endif %} en ligne</p>
                    <p class="card-text"><b>{{ petitions }}</b> pétition{% if petitions > 1 %}s{% endif %} en ligne</p>
                    <p class="card-text">Autre statistique</p>
                </div>
                <div class="col-9">
                    <div class="text-end mb-2">
                        <div class="form-row d-flex justify-content-end align-items-center">
                            <button type="button" class="btn btn-info btn-sm _changeStats" data-start="{{ week }}">Semaine</button>
                            <button type="button" class="btn btn-info btn-sm mx-2 _changeStats" data-start="{{ month }}">Mois</button>
                            <button type="button" class="btn btn-info btn-sm mr-2 _changeStats" data-start="{{ year }}">Année</button>
                            <label class="form-label" for="startStats">Statistiques du</label> 
                            <input class="form-control mx-2" type="date" id="startStats" value="{{ lastMounth }}"> 
                            <label class="form-label" for="endStats">au</label> 
                            <input class="form-control mx-2" type="date" id="endStats" value="{{ today }}">
                            <button type="button" class="btn btn-info btn-sm _changeStats">Voir</button>
                        </div>
                    </div>
                    <div id="chartStat">
                        {{ render(path('app_statistics_admin')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        {% if boxes.associations is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Associations</h5>
                    <a href="{{ path('app_company_admin_index', {'idType': 1, 'status': 0}) }}">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5>{{ boxes.associations }}</h5>
                    <p class="card-text"> association{% if boxes.associations > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.eleveurs is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Eleveurs</h5>
                    <a href="{{ path('app_company_admin_index', {'idType': 2, 'status': 0}) }}">    
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5>{{ boxes.eleveurs }}</h5>
                    <p class="card-text"> éleveur{% if boxes.eleveurs > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.adverts is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Annonces</h5>
                    <a href="{{ path('app_adverts_admin_index') }}/1">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5>{{ boxes.adverts }}</h5>
                    <p class="card-text"> annonce{% if boxes.adverts > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.articles is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Articles</h5>
                    <a href="{{ path('app_articles_admin_index') }}/1">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5>{{ boxes.articles }}</h5>
                    <p class="card-text"> article{% if boxes.articles > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.petitions is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Pétitions</h5>
                    <a href="{{ path('app_petitions_admin_index') }}/1">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h5>{{ boxes.petitions }}</h5>
                    <p class="card-text"> pétition{% if boxes.petitions > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="d-flex justify-content-between">
        {% if boxes.bestAdverts is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Meilleures annonces</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Visites</th>
                            <th>Titre</th>
                            <th>Organisation</th>
                        </th>
                        {% for ads in boxes.bestAdverts %}
                            <tr>
                                <td>{{ ads.visits }}</td>
                                <td>{{ ads.title }}</td>
                                <td>{{ ads.getFkCompany().name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if boxes.bestArticles is not null %}
            <div class="card mr-2">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h5>Meilleurs articles</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Visites</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                        </tr>
                        {% for article in boxes.bestArticles %}
                            <tr>
                                <td>{{ article.visits }}</td>
                                <td>{{ article.title }}</td>
                                <td>
                                    {% if article.getFkTeam() is not null %}
                                        {{ article.getFkTeam().firstname }} {{ article.getFkTeam().lastname }}
                                    {% elseif article.getFkUser() is not null %}
                                        {{ article.getFkUser().firstname }} {{ article.getFkUser().lastname }}
                                    {% else %}
                                        Anonyme
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}