{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>

    <div class="card mb-3">
        <div class="card-header bg-gradient-primary text-white">
            <h3>Statistiques</h3>
        </div>
        <div class="card-body d-flex justify-content-between">
            <div>
                <p class="card-text">{{ associations }} association{% if associations > 1 %}s{% endif %} actives</p>
                <p class="card-text">{{ eleveurs }} éleveur{% if eleveurs > 1 %}s{% endif %} actifs</p>
                <p class="card-text">{{ adverts }} annonce{% if adverts > 1 %}s{% endif %} en ligne</p>
            </div>
            <div>
                <p class="card-text">{{ day_visitors }} visite{% if day_visitors > 1 %}s{% endif %} aujourd'hui</p>
                <p class="card-text">{{ week_vivitors }} visite{% if week_vivitors > 1 %}s{% endif %} cette semaine</p>
                <p class="card-text">{{ month_visitors }} visite{% if month_visitors > 1 %}s{% endif %} ce mois ci</p>
            </div>
            <div>
                <p class="card-text">Autre statistique</p>
                <p class="card-text">Autre statistique</p>
                <p class="card-text">Autre statistique</p>
            </div>
            <div>
                <p class="card-text">Autre statistique</p>
                <p class="card-text">Autre statistique</p>
                <p class="card-text">Autre statistique</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        {% if boxes.associations %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white">
                    <h3>Associations</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ boxes.associations }} association{% if boxes.associations > 1 %}s{% endif %} en attente de validation</p>
                    <a href="{{ path('app_company_admin_index', {'idType': 1, 'status': 0}) }}" class="btn btn-primary">Voir la liste</a>
                </div>
            </div>
        {% endif %}

        {% if boxes.eleveurs %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white">
                    <h3>Eleveurs</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ boxes.eleveurs }} éleveur{% if boxes.eleveurs > 1 %}s{% endif %} en attente de validation</p>
                    <a href="{{ path('app_company_admin_index', {'idType': 2, 'status': 0}) }}" class="btn btn-primary">Voir la liste</a>
                </div>
            </div>
        {% endif %}

        {% if boxes.adverts %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white">
                    <h3>Annonces</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ boxes.adverts }} annonce{% if boxes.adverts > 1 %}s{% endif %} en attente de validation</p>
                    <a href="{{ path('app_adverts_admin_index') }}/1" class="btn btn-primary">Voir la liste</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
