{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header bg-gradient-primary text-white">
            <h3>Statistiques</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <p class="card-text"><b>{{ associations }}</b> association{% if associations > 1 %}s{% endif %} active{% if associations > 1 %}s{% endif %}</p>
                    <p class="card-text"><b>{{ eleveurs }}</b> éleveur{% if eleveurs > 1 %}s{% endif %} actif{% if eleveurs > 1 %}s{% endif %}</p>
                    <p class="card-text"><b>{{ adverts }}</b> annonce{% if adverts > 1 %}s{% endif %} en ligne</p>
                    <p class="card-text"><b>{{ petitions }}</b> pétition{% if petitions > 1 %}s{% endif %} en ligne</p>
                    <p class="card-text">Autre statistique</p>
                    <p class="card-text">Autre statistique</p>
                </div>
                <div class="col-9">
                    <div class="text-end mb-2">
                        <div class="form-row d-flex justify-content-end align-items-center">
                            <button type="button" class="btn btn-info btn-sm _changeStats" data-start="{{ week }}">Semaine</button>
                            <button type="button" class="btn btn-info btn-sm mx-2 _changeStats" data-start="{{ month }}">Mois</button>
                            <button type="button" class="btn btn-info btn-sm mr-2 _changeStats" data-start="{{ year }}">Année</button>
                            <label class="form-label" for="startStats">Statistiques du</label> 
                            <input class="form-control mx-2" type="date" id="startStats" value="{{ lastMounth }}"> 
                            <label class="form-label" for="endStats">au</label> 
                            <input class="form-control mx-2" type="date" id="endStats" value="{{ today }}">
                            <button type="button" class="btn btn-info btn-sm _changeStats">Voir</button>
                        </div>
                    </div>
                    <div id="chartStat">
                        {{ render(path('app_statistics_admin')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        {% if boxes.associations is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h3>Associations</h3>
                    <a href="{{ path('app_company_admin_index', {'idType': 1, 'status': 0}) }}">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4>{{ boxes.associations }}</h4>
                    <p class="card-text"> association{% if boxes.associations > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.eleveurs is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h3>Eleveurs</h3>
                    <a href="{{ path('app_company_admin_index', {'idType': 2, 'status': 0}) }}">    
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4>{{ boxes.eleveurs }}</h4>
                    <p class="card-text"> éleveur{% if boxes.eleveurs > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.adverts is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h3>Annonces</h3>
                    <a href="{{ path('app_adverts_admin_index') }}/1">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4>{{ boxes.adverts }}</h4>
                    <p class="card-text"> annonce{% if boxes.adverts > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}

        {% if boxes.petitions is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h3>Pétitions</h3>
                    <a href="{{ path('app_petitions_admin_index') }}/1">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-xl text-white"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4>{{ boxes.petitions }}</h4>
                    <p class="card-text"> pétition{% if boxes.petitions > 1 %}s{% endif %} en attente de validation</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="d-flex justify-content-between">
        {% if boxes.bestAdverts is not null %}
            <div class="card">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between">
                    <h3>Meilleures annonces</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        {% for ads in boxes.bestAdverts %}
                            <tr>
                                <td>{{ ads.visits }}</td>
                                <td>{{ ads.title }}</td>
                                <td>{{ ads.getFkCompany().name }}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}