{% extends 'admin/base_admin.html.twig' %}

{% block title %}Page / block{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ page.type }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ page.description|raw }}</td>
            </tr>
            <tr>
                <th>Date de rédaction</th>
                <td>{{ page.dateAdd ? page.dateAdd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pages_admin_index') }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
<div class="d-flex mt-3">
    <a href="{{ path('app_pages_admin_edit', {'id': page.id}) }}" class="btn btn-info mr-3"><i class="fa-solid fa-pen-to-square fa-lg mr-3"></i>Editer</a>

    {{ include('admin/pages_admin/_delete_form.html.twig') }}
</div>
{% endblock %}
