    {{ form_start(form) }}
        {% if user.id is null %}
            {{ form_row(form.type) }}
        {% endif %}
        {{ form_row(form.fk_gender) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.fk_company) }}
        {{ form_row(form.email) }}
        {% if app.user.id == user.id %}
            {{ form_row(form.picture) }}
            {% if user.picture is not null %}
                <div>
                    <img src="/uploads/{{ user.picture }}" />
                </div>
            {% endif %}
        {% endif %}
        {{ form_row(form.job) }}
            {% if user is not null and 'ROLE_ADMIN_CUSTOMER' in user.roles %}
                {{ form_row(form.is_admin, { 'attr': {'checked': 'checked'} }) }}
            {% else %}
                {{ form_row(form.is_admin) }}
            {% endif %}
            {{ form_row(form.bo_access_auth) }}
            {{ form_row(form.articles_auth) }}
            {{ form_row(form.adverts_auth) }}
            {{ form_row(form.petitions_auth) }}
        <button class="btn btn-success">{{ user.id is not null ? 'Mettre à jour' : 'Créer le compte' }}</button>
        {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
