{% extends 'admin/base_admin.html.twig' %} 

{% block title %}Petitions{% endblock %}

{% block body %}
    <h1>Petitions</h1>

    <table class="table _datatable table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Description</th>
                <th>Link</th>
                <th>Créée le</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for petition in petitions %}
            <tr>
                <td>
                    {% if petition.picture is not null %}
                        <img src="{{ mediaFolder }}/{{ petition.picture }}" height="50px" width="auto" />
                    {% endif %}
                </td>
                <td>{{ petition.title }}</td>
                <td>{{ petition.description }}</td>
                <td><a href="{{ petition.link }}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                <td>{{ petition.dateAdd ? petition.dateAdd|date('d/m/Y') : '' }}</td>
                <td>
                    <input type="checkbox" class="_activeButton" data-id="{{ petition.id }}" data-entity="petitions" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Activée" data-off="En attente" {{ petition.status ? 'checked' : '' }}>
                </td>
                <td class="action_cell">
                    <form method="post" action="{{ path('app_petitions_admin_delete', {'id': petition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ petition.id) }}">
                        <button class="btn  _deleteBtn"><i class="fa-solid fa-trash-can fa-lg"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
