{% extends 'admin/base_admin.html.twig' %}

{% block title %}Fiche client{% endblock %}

{% block body %}
    <div class="d-flex align-self-center">
        {% if company.logo != '' %}
            <img src="{{ mediaFolder }}/{{ company.logo }}" class="img-responsive mr-3" height="150px" width="auto">
        {% endif %}
        <h1>{{ company.name }}</h1>
    </div>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Addresse</th>
                <td>
                    {{ company.address }}
                    {% if company.additionalAddress != '' %}
                         {{ company.additionalAddress }}
                    {% endif %}
                     {{ company.zipCode }} {{ company.town }}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ company.phone }}</td>
            </tr>
            
            <tr>
                <th>Status</th>
                <td>{{ company.status ? 'Activée' : 'Désactivée' }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ company.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ company.latitude }}</td>
            </tr>
            <tr>
                <th>Réseaux sociaux</th>
                <td>
                    <div class="d-flex">
                        <span>
                            {% if company.facebook != '' %}
                                <a href="{{ company.facebook }}" target="_blank"><i class="fa-brands fa-facebook fa-2xl mr-3"></i></a>
                            {% endif %}
                        </span>
                        <span>
                            {% if company.tweeter != '' %}
                                <a href="{{ company.tweeter }}" target="_blank"><i class="fa-brands fa-twitter fa-2xl mr-3"></i></a>
                            {% endif %}
                        </span>
                        <span>
                            {% if company.instagram != '' %}
                                <a href="{{ company.instagram }}" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            {% endif %}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_company_admin_index', {'idType': idType}) }}" class="btn btn-info mr-3"><i class="fa-solid fa-chevron-left fa-sm mr-3"></i>Retour</a>
    <div class="d-flex mt-3">
        <a href="{{ path('app_company_admin_edit', {'id': company.id}) }}" class="btn btn-info mr-3"><i class="fa-solid fa-pen-to-square fa-lg mr-3"></i>Editer</a>

        {{ include('admin/company_admin/_delete_form.html.twig') }}
    </div>
{% endblock %}
