{% extends 'base.html.twig' %}

{% block title %}Créer mon compte{% endblock %}

{% block body %}
    <h2>Créer mon compte</h2>
    {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.fk_gender) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <div class="mb-3">
            {{ form_errors(form.agreeTerms) }}
            <div class="form-check">
                <input type="checkbox" id="user_agreeTerms" name="user[agreeTerms]" required="required" class="form-check-input" value="1">
                <label class="form-check-label required" for="user_agreeTerms">
                    En cochant cette case je reconnais avoir pris connaissance des <a href="{{ render(controller('App\\Controller\\PagesController::getRoute', { 'id': 1 })) }}">conditions générales d'utilisation</a> 
                    et la <a href="{{ render(controller('App\\Controller\\PagesController::getRoute', { 'id': 5 })) }}">politique de protection des données</a> de Légion
                </label>
            </div>        
        </div>
        <button class="btn">Créer mon compte</button>
        {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}
